
/*SLIDER SKILLS*******/
.slider-area{
    margin:5rem 10rem 20rem 10rem;
    height:auto;
    overflow: hidden;
}

.slide-track{
   display:flex;
   animation:scroll 45s linear infinite;
   -webkit-animation:scroll 45s linear infinite;
   width: calc(100% * 4);
}

.slide{
    flex:1 0 0;
    height:100%;
   margin:0 40px 0 40px;  
   
}

.slide:hover img{
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.slide .caption{
  font-family:var(--fontAux);
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--grey);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide:hover .caption{
    opacity: 1;
}

.slide .pslid{
    text-align:center;
    font-size:1.4rem;
 
}


.slide p{
    text-align:center;
    font-size:1.8rem;
}

.slide img{
    width:100%;
    object-fit:cover;
}

.slide img:hover{
    cursor:pointer;
    
}


@keyframes scroll{
    0%{
        transform:translateX(0);
        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -ms-transform:translateX(0);
        -o-transform:translateX(0);
}
50%{
    transform:translateX(-70%);
    -webkit-transform:translateX(-70%);
    -moz-transform:translateX(-70%);
    -ms-transform:translateX(-70%);
    -o-transform:translateX(-70%);
}

100%{
    transform:translateX(0);
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -ms-transform:translateX(0);
    -o-transform:translateX(0);
}
}
/*****************************************************/

/******SLIDER PARA PROYECTOS********/


.ind{
    padding:2rem;
}
.slider-principal{
    display:flex;
    justify-content:center;
}

.slick-slider{
    display:flex;
    max-width:850px;
    max-height:600px;
    align-items:center;
}

.slick-track{
 padding:3rem;

}
.sli img{
    max-width:20rem;
    transition:.3s ease all;
    -webkit-transition:.3s ease all;
    -moz-transition:.3s ease all;
    -ms-transition:.3s ease all;
    -o-transition:.3s ease all;
    box-shadow:5px 5px 10px rgba(0,0,0, .5); 
}
.sli img:hover{
    transform-origin:center;
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
}
.slider{
    position: relative;
}
.slider .priv_arrow
{
   padding:20px;
   border-radius:10px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   -ms-border-radius:10px;
   -o-border-radius:10px;
}
.slider .priv_arrow:hover{
    background:rgba(0,0,0, .7);
    color:var(--blanco);
}





/**********************************/



@media(max-width:1520px){

/******SLIDER PARA PROYECTOS********/

.ind{
    display:flex;
   margin:0;
   padding:0;
}
.slider-principal{
    display:flex;
    justify-content:center;
}

.slick-slider{
    display:flex;
    max-width:750px;
    max-height:600px;
    align-items:center;
}

.slick-track{
 padding:2rem;
}
.sli img{
    max-width:18rem;
    transition:.3s ease all;
    -webkit-transition:.3s ease all;
    -moz-transition:.3s ease all;
    -ms-transition:.3s ease all;
    -o-transition:.3s ease all;
    box-shadow:5px 5px 10px rgba(0,0,0, .5); 
}
.sli img:hover{
    transform-origin:center;
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
}
.slider{
    position: relative;
}
.slider .priv_arrow
{
   padding:20px;
   border-radius:10px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   -ms-border-radius:10px;
   -o-border-radius:10px;
}
.slider .priv_arrow:hover{
    background:rgba(0,0,0, .7);
    color:var(--blanco);
}

/**********************************/
}










/*@MEDIA max 1366px al llegar cambia tamaños de contenido*/
@media (max-width:1366px){
    
    .slider-area{
        margin:5rem 1rem 18rem 1rem;
    }
    .slide-track{
        display:flex;
        animation:scroll 50s linear infinite;
        -webkit-animation:scroll 50s linear infinite;
        width: calc(100% * 4);
}
    .slide{
       margin:0 2rem 0 2rem;
    }


    .slide .pslid{
        text-align:center;
        font-size:1.5rem;
        margin:0 0 3rem 0;
    }
    
    .slide img{
        display:flex;
        object-fit:cover;
        margin-bottom:3rem;

    }


    .contenfoto img{
        width:40%;
        height:87%;
       margin-left:10rem;
    }



/******SLIDER PARA PROYECTOS********/

.ind{
    display:flex;
    justify-content:center;
   margin:0;
   padding:0;
}
.slider-principal{
    display:flex;
    justify-content:center;
}

.slick-slider{
    display:flex;
    max-width:750px;
    max-height:600px;
    align-items:center;
}

.slick-track{
 padding:2rem;
}
.sli img{
    max-width:18rem;
    transition:.3s ease all;
    -webkit-transition:.3s ease all;
    -moz-transition:.3s ease all;
    -ms-transition:.3s ease all;
    -o-transition:.3s ease all;
    box-shadow:5px 5px 10px rgba(0,0,0, .5); 
}
.sli img:hover{
    transform-origin:center;
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
}
.slider{
    position: relative;
}
.slider .priv_arrow
{
   padding:20px;
   border-radius:10px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   -ms-border-radius:10px;
   -o-border-radius:10px;
}
.slider .priv_arrow:hover{
    background:rgba(0,0,0, .7);
    color:var(--blanco);
}

/**********************************/




















}
/***********************/


@media(max-width:860px){
/******SLIDER PARA PROYECTOS********/


.ind{
    display:flex;
    justify-content:center;
   margin:0;
   padding:0;
}
.slider-principal{
    display:flex;
    justify-content:center;
}

.slick-slider{
    display:flex;
    max-width:670px;
    max-height:600px;
    align-items:center;
}

.slick-track{
 padding:2rem;
}
.sli img{
    max-width:17rem;
    transition:.3s ease all;
    -webkit-transition:.3s ease all;
    -moz-transition:.3s ease all;
    -ms-transition:.3s ease all;
    -o-transition:.3s ease all;
    box-shadow:5px 5px 10px rgba(0,0,0, .5); 
   
}
.sli img:hover{
    transform-origin:center;
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
}
.slider{
    position: relative;
}
.slider .priv_arrow
{
   padding:20px;
   border-radius:10px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   -ms-border-radius:10px;
   -o-border-radius:10px;
}
.slider .priv_arrow:hover{
    background:rgba(0,0,0, .7);
    color:var(--blanco);
}

/**********************************/

}












@media(max-width:980px){
    .slide-track{
        min-width: calc(100% * 5);      
}

.slide .pslid{
    font-size:1.3rem;
}
}





@media(max-width:768px){
/******SLIDER PARA PROYECTOS********/
/******SLIDER PARA PROYECTOS********/


.slider-principal{
    margin:-20px;
}

.slick-slider{
    max-width:630px;
}

.slick-track{
 padding:2rem;
}

.sli img{
    max-width:11rem;
    transition:.3s ease all;
    -webkit-transition:.3s ease all;
    -moz-transition:.3s ease all;
    -ms-transition:.3s ease all;
    -o-transition:.3s ease all;
    box-shadow:5px 5px 10px rgba(0,0,0, .5); 
}

/**********************************/
}



@media(max-width:666px){
    /******SLIDER PARA PROYECTOS********/



    .ind{
        display:flex;
        justify-content:center;
       
       padding:0;
    }
    .slider-principal{
        display:flex;
        justify-content:center;
       
    }
    
    .slick-slider{
        display:flex;
       max-width:480px;
      
    }
    
    .slick-track{
     padding:2rem;
     
    }
    .sli img{
        max-width:15rem;
        transition:.3s ease all;
        -webkit-transition:.3s ease all;
        -moz-transition:.3s ease all;
        -ms-transition:.3s ease all;
        -o-transition:.3s ease all;
        box-shadow:5px 5px 10px rgba(0,0,0, .5); 
    }

    .sli img:hover{
        transform-origin:center;
        transform:scale(1.1);
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -o-transform:scale(1.1);
    }
    .slider{
        position:flex;
    }
    .slider .priv_arrow
    {
       padding:10px;
       border-radius:10px;
       -webkit-border-radius:10px;
       -moz-border-radius:10px;
       -ms-border-radius:10px;
       -o-border-radius:10px;
    }
    .slider .priv_arrow:hover{
        background:rgba(0,0,0, .7);
        color:var(--blanco);
    }
    

/**********************************/
}





@media(max-width:666px){
    /******SLIDER PARA PROYECTOS********/



    .ind{
        display:flex;
        justify-content:center;
       padding:0;
    }
    .slider-principal{
        display:flex;
        justify-content:center;
       
    }
    
    .slick-slider{
        display:flex;
       max-width:350px;
     
    }
    
    .slick-track{
     padding:2rem;
    
   
    }

    .slick-list{
margin:1rem;
    }



    .sli img{
        max-width:15rem;
        transition:.3s ease all;
        -webkit-transition:.3s ease all;
        -moz-transition:.3s ease all;
        -ms-transition:.3s ease all;
        -o-transition:.3s ease all;
        box-shadow:5px 5px 10px rgba(0,0,0, .5); 
        
    }

    .sli img:hover{
        transform-origin:center;
        transform:scale(1.1);
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -o-transform:scale(1.1);
    }
    .slider{
        position:relative;
    }
    .slider .priv_arrow
    {
        display: flex;
       padding:10px;
       border-radius:10px;
       -webkit-border-radius:10px;
       -moz-border-radius:10px;
       -ms-border-radius:10px;
       -o-border-radius:10px;
       margin:0;
    }
    .slider .priv_arrow:hover{
        background:rgba(0,0,0, .7);
        color:var(--blanco);
    }
    

/**********************************/
}