
/*SLIDER SKILLS*******/
.slider-area{
   display:flex;
   justify-content:center;
   align-items:center;
   padding:5rem 0 20rem 0;
}

.slide-track{
 display:grid;
 grid-template-columns:repeat(5,1fr);
 column-gap:10rem;
 row-gap:5rem;

}

.slids{
    margin:0;
   padding:0; 
}

.slids:hover img{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.slids .caption{
    text-align:center;
    font-size:2rem;
  font-family:var(--fontAux);
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--grey);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slids:hover .caption{
    opacity: 1;
}

.slids img{
    width:100%;
    object-fit:cover;
}

.slids img:hover{
    cursor:pointer;
}

/*****************************************************/
/******SLIDER PARA PROYECTOS********/
.ind{
    padding:2rem;
}
.slider-principal{
    display:flex;
    justify-content:center;
}
.slick-slider{
    display:flex;
    max-width:850px;
    max-height:600px;
    align-items:center;
}
.slick-track{
 padding:3rem;

}
.sli img{
    max-width:20rem;
    transition:.3s ease all;
    -webkit-transition:.3s ease all;
    -moz-transition:.3s ease all;
    -ms-transition:.3s ease all;
    -o-transition:.3s ease all;
    box-shadow:5px 5px 10px rgba(0,0,0, .5); 
}
.sli img:hover{
    transform-origin:center;
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
}
.slider{
    position: relative;
}
.slider .priv_arrow
{
   padding:20px;
   border-radius:10px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   -ms-border-radius:10px;
   -o-border-radius:10px;
}
.slider .priv_arrow:hover{
    background:rgba(0,0,0, .7);
    color:var(--blanco);
}
/**********************************/




@media(max-width:1520px){
/******SLIDER PARA PROYECTOS********/
.ind{
    display:flex;
    justify-content:center;
   margin:0;
   padding:0;
}

.slider-principal{
    display:flex;
    justify-content:center;

}

.slick-slider{
    max-width:750px;
    display:flex;
    max-height:600px;
    align-items:center;
}
.slick-track{
 padding:2rem;
}
.sli img{
    max-width:180px;
}

.slider{
    position:relative;
}

/**********************************/
}




@media (max-width:1366px){
/******SLIDER PARA PROYECTOS********/
.ind{
   margin:0;
   padding:0;
}
.slick-slider{
    max-width:750px;
    max-height:600px;
}

.sli img{
    max-width:18rem;
}

.slider{
    position: relative;
}
/**********************************/




















}
/***********************/


@media(max-width:860px){
 

     .slide-track{
      display:grid;
      grid-template-columns:repeat(2,1fr);
     }
     
     .slids{
         margin:0 5rem 0 5rem;
        justify-content:center;
     
     }
     .slids img{
         width:100px;
     }
 


    /******SLIDER PARA PROYECTOS********/
.slick-slider{
    max-width:690px;
    max-height:600px;
}

.slick-track{
 padding:2rem;
}
.sli img{
    max-width:150px;
    margin:0 10px;
}
.slider{
    position: relative;
}
/*********************************/
}








@media(max-width:1150px){
     .slide-track{
      column-gap:5rem;
      row-gap:4rem;
     }
     
     .slids .caption{
         text-align:center;
         font-size:1.5rem;
       font-family:var(--fontAux);
       background-color: rgba(0, 0, 0, 0.7);
       color: var(--grey);
       opacity: 0;
       transition: opacity 0.5s ease;
     }
 
}




@media(max-width:758px){
    /******SLIDER PARA PROYECTOS********/

.slick-slider{
   max-width:400px;
   height:550px;
}

.slick-track{
 padding:6rem;
 
}
.sli img{
    max-width:250px;
    margin:0 20px;
}
.slider{
    position:relative;
}

/**********************************/
}




@media(max-width:666px){
    /******SLIDER PARA PROYECTOS********/
 
    .slick-slider{
       max-width:388px;
       height:550px;
    }

    .slick-track{
     padding:6rem;
    }
    .sli img{
        max-width:200px;
    }
    .slider{
        position:flex;
    }
    .slider .priv_arrow
    {
       padding:10px;
    }
/**********************************/
}







@media(max-width:545px){


    .slide-track{
        gap:1rem;
       }
       .slids .caption{
        margin:-1rem;
    }
    


    /******SLIDER PARA PROYECTOS********/
    .slick-slider{
       max-width:290px;
    }
    .slick-track{
     padding:6rem;
    }
    .sli img{
        max-width:200px;
        margin:0 3rem;
    }
    .slider .priv_arrow
    {
        display: flex;
       padding:10px;
       margin:-1rem;
    }
  
/**********************************/
}


@media(max-width:448px){
    
.description{
    margin:0;
}

    .slider-area{
        padding:3rem 0 5rem 0;
     }

    .slids{
        margin-bottom:3rem;
    }
       .slids .caption{
        font-size:1rem;
        margin:-1rem;
      
    }
    .slids img{
        width:120%;
        object-fit:cover;
    }

}

