:root{
    --colorPrimary:#141414;
    --colorSecundary:#8D7B68;
    --blanco:#ffffff;
    --graylight:#f6f6f8;
    --negro:#000000;
    --grey:#e1e1e1;
    --colorHover:#15ADA0;
    --colorRed: #CC0000;
    --fontPrincipal:'Raleway', sans-serif;
    --fontSecundaria:'Figtree', sans-serif;
    --fontAux:'Tilt Neon', cursive;
}

html{
    box-sizing:border-box;
    font-size:62.5%;
}
*,*:before,*:after{
    box-sizing:inherit;
}

body{
    font-family:var(--fontSecundaria);
    font-size:1.8rem;
    line-height:1.5;
    background: linear-gradient(to left, var(--grey), var(--graylight)); 
    }



.contenedor{
    position:fixed;
    width: 100%;
    align-items:center;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: transparent;
    z-index: 999;
}



a{
    font-family:var(--fontAux);
    text-decoration:none;
    font-size:2.2rem;
    color: var(--colorPrimary);
}
a:hover {
    color: var(--colorHover);
    cursor: pointer;
    transform: scale(1.1);
  }



h1,h2,h3,h4{ 
    color:var(--colorPrimary);
    font-family:var(--fontPrincipal);
    line-height:1.2;
}
h1{font-size:5rem;}
h2{font-size:4.4rem; height:10rem;}
h3{font-size:3.3rem;}
h4{font-size:2.2rem;}
img{max-width: 100%;}

.saludo p{
    font-size:3rem;
}




/*UTILIDADES*/
.no-margin{margin:0;}
.no-padding{padding:0;}
.centrar-text{text-align:center;}




.header{
    background-image: url(../img/fondo_header.jpg);
    height:90rem;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;

}

.texto-header{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows:repeat(2,1fr);
  height:100%;

}
.saludo{
    display:block;
    margin:0 auto;
    padding-top:30rem;
}









/*Contenido de la Foto perfil en el Header*/
.fotoCV{
    grid-column:2 / 3;
    grid-row:-2 / 3;

}
.contenfoto{
    display:flex;
    justify-content:center;
    align-items:start;
    height:100%; 
}

.contenfoto img{

    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.9);
    border-radius:99px;
    width:35%;
    height:90%;
    margin-right:10rem;
    -webkit-border-radius:99px;
    -moz-border-radius:99px;
    -ms-border-radius:99px;
    -o-border-radius:99px;
}



/*Logo NAV*/
.logo{
    margin-top:2rem;
}
.logo img{
    border:2px solid var(--colorPrimary);    
}
.logo img:hover{
    border:2px solid;    
}





.cuadro{
    margin:5rem 1rem 50rem 1rem;
    padding-left:3rem;
    padding-right:3rem;
    border-radius:1rem;
    display:block;
    background:var(--blanco);
    padding:2rem;
    margin-bottom:auto;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}


/*Proyectos*/
.section-app{
    display:grid;
    margin:5rem 10rem 20rem 10rem;
    grid-template-columns:repeat(2,1fr);

}
.description p{
font-size:2rem;
line-height:1.5;
}
/*BOTON PARA DOCUMENTACIÓIN PDF*/
.boton a{
    display:flex;
    color:var(--blanco);
    border-radius:1rem;
    padding:5px;
    background:var(--colorRed);
    border:2px solid var(--colorRed);
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}

.boton a:hover{
    color: var(--blanco);
    background:var(--colorRed);
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}











/*CLASE PADRE Y SUBCLASES PARA EL CONTACTO-*/
.formulario{ 
    display:flex; 
    justify-content:center; 
}

.formulario > * {
    padding:7rem;
    width:50%;
    font-family:var(--fontPrincipal);
    
}

.contenedor-campos{
    
    border-radius:2rem;
    background: rgb(166,174,179);
    background: linear-gradient(260deg, rgba(166,174,179,1) 0%, rgba(227,227,244,1) 100%, rgba(0,212,255,1) 100%);
    /*PARAELMODODARK:;
    background: rgb(10,49,57);
    background: linear-gradient(0deg, rgba(10,49,57,1) 55%, rgba(4,26,38,1) 100%, rgba(227,227,244,1) 100%);
    */
  
}

.campo{
margin-top:4rem;
}

.campo input{
    width:100%;
    border:none;
    background:none;
    outline:0;
    color:var(--negro);
    border-bottom:2px solid var(--negro);
}
.campo textarea{
    resize:none;
    width:100%;
    height:100%;
    background:none;
    padding-bottom:10rem;
    border:2px solid var(--negro);
}

/*BOTON ENVIAR*/
.boton{
    display:flex;
    justify-content:end;
}
.boton button{  
    min-width: 45%;
    margin-top:5rem;
    background:var(--blanco);
    border:0;
    text-transform:uppercase;
    padding:2rem;
    border-radius:2rem;
    -webkit-border-radius:2rem;
    -moz-border-radius:2rem;
    -ms-border-radius:2rem;
    -o-border-radius:2rem;
    border:2px solid var(--colorPrimary);   
}

.boton button:hover{
    border:2px solid;
    color: var(--colorHover);
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}








/*FOOTER*/
.footer{
    background-image:url(../img/fondo_header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contenido-footer{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.websites{
   padding:2rem;
}

.websites img{
    margin:3rem;
}

.websites img:hover{
    cursor:pointer;
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
}


.derechos p{
    font-family:var(--fontSecundaria);
}


/*@MEDIA min 768px*/
@media (min-width:768px){


    .navegacion{display:flex; gap:5rem;}
    .navegacion__enlace{
        display:block;
        text-align:center;
    }
    
    .barra{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-left:2rem;
    margin-right:2rem;
    }

    .cuadro{
        background:var(--blanco);
        margin:5rem 10rem 7rem 10rem;
        padding-bottom:10rem;
        padding-left:3rem;
        padding-right:3rem;
        border-radius:1rem;
        -webkit-border-radius:1rem;
        -moz-border-radius:1rem;
        -ms-border-radius:1rem;
        -o-border-radius:1rem;
}

   .sobre_mi{
    display:flex;
    margin:5rem 20rem 20rem 20rem;

   }
 

    .sobre p{
        text-align:center;
        font-family:var(--fontAux);
        font-size:2.4rem;
        line-height:3rem;
    }
    .section-app p{
        font-family:var(--fontAux);
        font-size:2.2rem;
        line-height:2.6rem;
    }


}











/*@MEDIA max 1366px al llegar cambia tamaños de contenido*/
@media (max-width:1366px){

   
    
    .contenfoto img{
        width:50%;
        height:90%;
    }


}