:root{
    --colorPrimary:#141414;
    --colorSecundary:#8D7B68;
    --blanco:#ffffff;
    --graylight:#f6f6f8;
    --negro:#000000;
    --grey:#e1e1e1;
    --colorHover:#15ADA0;
    --colorRed: #CC0000;
    --fontPrincipal:'Raleway', sans-serif;
    --fontSecundaria:'Figtree', sans-serif;
    --fontAux:'Tilt Neon', cursive;
}

html{
    box-sizing:border-box;
    font-size:62.5%;
    scroll-behavior: smooth;
}
*,*:before,*:after{
    box-sizing:inherit;
}

body{
    font-family:var(--fontSecundaria);
    font-size:1.8rem;
    line-height:1.5;
    background: linear-gradient(to left, var(--grey), var(--graylight)); 
    }



.contenedor{
    position:fixed;
    width: 100%;
    height:90px;
    align-items:center;
    background-color:var(--colorPrimary);
    z-index:999;
    padding-top:5px;
    padding-bottom:5px;
}

a{
    font-family:var(--fontAux);
    text-decoration:none;
    font-size:1.7rem;
    color: var(--colorPrimary);
}
a:hover {
    color: var(--colorHover);
    cursor: pointer;
    transform: scale(1.1);
  }






h1,h2,h3,h4{ 
    color:var(--colorPrimary);
    font-family:var(--fontPrincipal);
    line-height:1.2;
}
h1{font-size:5rem;}
h2{font-size:4.4rem; height:10rem;}
h3{font-size:3.3rem;}
h4{font-size:2.2rem;}
img{max-width: 100%;}

.saludo p{
    font-size:3rem;
}




/*UTILIDADES*/
.no-margin{margin:0;}
.no-padding{padding:0;}
.centrar-text{text-align:center;}




.header{

    background-image: url(../img/fondo_header.jpg);
    height:90rem;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;

}



.texto-header{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows:repeat(2,1fr);
  height:100%;

}
.saludo{
    display:block;
    margin:0 auto;
    padding-top:30rem;
}









/*Contenido de la Foto perfil en el Header*/
.fotoCV{
    grid-column:2 / 3;
    grid-row:-2 / 3;

}
.contenfoto{
    display:flex;
    justify-content:center;
    align-items:start;
    height:100%; 
}

.contenfoto img{

    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.9);
    border-radius:99px;
    width:35%;
    height:90%;
    margin-right:10rem;
    -webkit-border-radius:99px;
    -moz-border-radius:99px;
    -ms-border-radius:99px;
    -o-border-radius:99px;
}



/*Logo para Header y Footer*/
footer .logo{
  padding-top:2rem;
}
.logo img{
    border:2px solid var(--colorPrimary);    
}
.logo img:hover{
    border:2px solid;    
}





.cuadro{
    margin:5rem 1rem 50rem 1rem;
    padding-left:3rem;
    padding-right:3rem;
    border-radius:1rem;
    display:block;
    background:var(--blanco);
    padding:2rem;
    margin-bottom:auto;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}


/*Proyectos*/
.section-app{
    display:grid;
    margin:5rem 0rem 20rem 10rem;
    grid-template-columns:repeat(2,1fr);
    grid-gap:5rem;
}
.description p{
font-size:2rem;
line-height:1.5;
}
/*BOTON PARA DOCUMENTACIÓIN PDF*/
.botones{
    display:flex;
    justify-content:end;
    gap:4rem;
    
}

.boton-code{ 
    border-radius:1rem;
    background:#273746;
 

  
}
.boton-code a{
    display:flex;
    justify-content:center;
    align-items:center;
    color:var(--blanco);
    padding:0 0 0 7px;
 
 
}
.boton-code a:hover{
    color: var(--blanco);
    background:#273746;
    cursor: pointer;
    border-radius:1rem;
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
}

.boton-pdf{
    border-radius:1rem;
    background:var(--colorRed);

}

.boton-pdf a{
    display:flex;
    justify-content:center;
    align-items:center;
    color:var(--blanco);
    padding:0 0 0 7px;
}

.boton-pdf a:hover{
    color: var(--blanco);
    background:var(--colorRed);
    cursor: pointer;
    border-radius:1rem;
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
}











/*CLASE PADRE Y SUBCLASES PARA EL CONTACTO-*/
.formulario{ 
    display:flex; 
    justify-content:center; 
}

.formulario > * {
    padding:7rem;
    width:50%;
    font-family:var(--fontPrincipal); 
}

.contenedor-campos{
    
    border-radius:2rem;
    background: rgb(166,174,179);
    background: linear-gradient(260deg, rgba(166,174,179,1) 0%, rgba(227,227,244,1) 100%, rgba(0,212,255,1) 100%);
    /*PARAELMODODARK:;
    background: rgb(10,49,57);
    background: linear-gradient(0deg, rgba(10,49,57,1) 55%, rgba(4,26,38,1) 100%, rgba(227,227,244,1) 100%);
    */
  
}

.campo{
margin-top:4rem;
}

.campo input{
    width:100%;
    border:none;
    background:none;
    outline:0;
    color:var(--negro);
    border-bottom:2px solid var(--negro);
}
.campo textarea{
    resize:none;
    width:100%;
    height:100%;
    background:none;
    padding-bottom:10rem;
    border:2px solid var(--negro);
}

/*BOTON ENVIAR*/
.boton{
    display:flex;
    justify-content:end;
}
.boton button{  
    min-width: 45%;
    margin-top:5rem;
    background:var(--blanco);
    border:0;
    text-transform:uppercase;
    padding:1rem;
    border-radius:2rem;
    -webkit-border-radius:2rem;
    -moz-border-radius:2rem;
    -ms-border-radius:2rem;
    -o-border-radius:2rem;
    border:2px solid var(--colorPrimary);   
}

.boton button:hover{
    border:2px solid;
    color: var(--colorHover);
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}








/*FOOTER*/
.footer{
    background-image:url(../img/fondo_header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contenido-footer{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.websites{
   padding:2rem;
}

.websites img{
    margin:3rem;
}

.websites img:hover{
    cursor:pointer;
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
}


.derechos p{
    font-family:var(--fontSecundaria);
}



.header nav {
    display: flex;
    justify-content: space-between;
    padding: 0% 5% 0% 5%;
    height: 75px;
    line-height: 70px;
    background-color:var(--colorPrimary);
}


nav .nav-list {
   display:flex;
    margin: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    gap:7rem;
}



nav .nav-list .nav-item {
    height: 100%;
    transition: .4s; 
}


nav .nav-list .nav-link {
    color: var(--blanco);
    font-size: 2rem;
}

nav .nav-list .nav-link:hover {
    color: var(--colorHover);
    font-size: 2rem;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}


@media (max-width: 935px) {

    .header nav{
        padding-top:5px;
        padding-bottom:90px;
    }

    nav .nav-list .nav-item {
        display: flex;
        justify-content:center;
        align-content:center;
    }
}
@media (max-width:768px){
   .contenedor{
   padding:0;
   }

    nav .nav-list {
        display: grid;
        position: absolute;
        width: 100%;
        top: 72px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;
        background: var(--colorPrimary);
        padding-bottom:1rem;
        padding-top:3rem;
        gap:0;
    }

    nav .nav-list .nav-item a:hover {
        background-color:var(--blanco);
    }
    nav .nav-list .nav-link:hover {
        padding-left:5rem;
        padding-right:5rem;
    }

    nav .navbar-toggler {
        display: grid !important;
    }
}




/*Diseño para el Menu Hamburger*/
nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}
nav .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 10%;
    transition: .4s;
}
.header input {
   display:none;
}
input:checked ~ nav .nav-list {
    transform: translateY(0);
}
input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}
input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}
input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}
input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}
/********************************/






.cuadro{
    background:var(--blanco);
    margin:10rem 10rem 7rem 10rem;
   padding-top:10rem;
    padding-left:3rem;
    padding-right:3rem;
    border-radius:1rem;
    -webkit-border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
}

.sobre_mi{
margin:0 5rem 15rem 3rem;
}
.sobre{
display:grid;
grid-template-columns:repeat(2,1fr);
grid-gap:2rem;
align-items:center;
}
.imagen{
display:flex;
justify-content:center;
}

.sobre p{
    
    font-family:var(--fontAux);
    font-size:2.2rem;
    line-height:2.9rem;

}



.section-app p{
    font-family:var(--fontAux);
    font-size:1.7rem;
    line-height:2.5rem;
}











@media(max-width:1200px){

   



    .cuadro{
        margin:0;
        padding:0;
    }
    .contacto{
        padding-bottom:4rem;
    }
    .section-app{
        display:grid;
        margin:0 0 0 0 ;
        grid-template-rows:repeat(2,50%);
        grid-template-columns:1fr;
        grid-gap:7rem;
    }
    .description{
      grid-row: 2 / -1;
      padding-bottom:20rem;
    }
    .description h3{
        display:flex;
        justify-content:center;
    }
    .ind{
        grid-row: 1 / 2;
    }
    .botones{
        display:flex;
        justify-content:center;
        margin-top:10rem;
        }

        .formulario{ 
            display:flex; 
            justify-content:center; 
        }
        
        .formulario > * {
            padding:4rem;
            width:70%;
            font-family:var(--fontPrincipal); 
        }

        .boton{
            justify-content:center;
        }

}





/*@MEDIA max 1366px al llegar cambia tamaños de contenido*/
@media (max-width:1366px){
    

    .cuadro{
        margin:5rem 3rem 5rem 3rem;
       padding-top:10rem;
        padding-left:3rem;
        padding-right:3rem;
        border-radius:1rem;
        -webkit-border-radius:1rem;
        -moz-border-radius:1rem;
        -ms-border-radius:1rem;
        -o-border-radius:1rem;
    }

    .contenfoto img{
        width:47%;
        height:90%;
       margin-left:10rem;
    }


}
/*********************************************************/






@media(max-width:1080px){

    .contenfoto{
        height:100%; 
    }
    
    .contenfoto img{
        min-width:50%;
        min-height:90%;
    }
}